---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon_default.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-custom-black">

		<slot />

		<section>
			<footer class="flex align-middle justify-center text-gray-100">
				<p>&copy; 2023 Louis Borres. All rights reserved.</p>
			</footer>
		</section>
	</body>
</html>